<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spoonfed Reviews</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body class="col-lg-12 justify-content-center align-items-center">
  <div>
    <header>
      <h1 class="title is-1">
        <a href="/">Spoon-Fed Reviews</a>
      </h1>
      {{!-- --}}
      <nav class="navbar" role="navigation" aria-label="main navigation">
        {{#if logged_in}}
        <div class="navbar-brand">
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
            <a href="/profile" class="navbar-item">
              My Recipes
            </a>
            <a href="/" class="navbar-item">
              All Recipes
            </a>
            <a href="/newrecipe" class="navbar-item">
              Add New Recipe
            </a>
            <a href="/review" class="navbar-item">
              My Reviews
            </a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a id="logout" class="button is-primary">
                  <strong>Logout</strong>
                </a>
              </div>
            </div>
          </div>
        </div>

        {{else}}
        <a href="/login" class="button is-primary">
          <strong>Login</strong>
        </a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/script.js"></script>
</body>

</html>