<div>
    <input id="edit-name" class="input" type="text" value="{{name}}" />
    <textarea id="edit-ing" class="textarea">{{ingredients}}</textarea>
    <textarea id="edit-desc" class="textarea">{{instructions}}</textarea>
    <button data-id="{{id}}" id="edit-btn" class="btn btn-primary">SUBMTI EDIT</button>
</div>

<script src="/js/profile.js"></script>