<div>
    <form>
        <div>
            <label for="recipe-name">What is the name of your recipe?</label>
            <input class="form-input" type="text" id="recipe-name" />
        </div>
        <div>
            <label for="ing-list">Please list your ingredients:</label>
            <input class="form-input" type="text" id="ing-list" />
        </div>
        <div>
            <label for="recipe-inst">Please write out the instructions to your recipe:</label>
            <input class="form-input" type="text" id="recipe-inst" />
        </div>
        <div>
            <button>Create Recipe!</button>
        </div>
    </form>
</div>

<!--will need it's own javascript-->