<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Recipe:</h3>

    <form class="form new-recipe-form">
      <div class="form-group">
        <label for="recipe-name">recipe name:</label>
        <input class="form-input" type="text" id="recipe-name" name="recipe-name" />
      </div>
      <div class="form-group">
        <label for="recipe-ing">Add ingredients:</label>
        <input class="form-input" type="string" id="recipe-ing" name="recipe-ing" />
      </div>
    <div class="form-group">
        <label for="recipe-inst">Add instructions:</label>
        <input class="form-input" type="string" id="recipe-inst" name="recipe-comminst" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create recipe</button>
      </div>
    </form>
  </div>

  {{#if recipe.length}}
  <div class="col-md-6 recipe-list">
    <h3>Current Recipes:</h3>

    {{#each recipes as |recipe|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{recipe.id}}">{{recipe.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{recipe.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
