<!--when people select a specific recipe to look at-->
<div>
  <h2>{{name}}</h2>
</div>
<div>
  <p>{{instructions}}</p>
  <p>{{ingredients}}</p>
  <p>Created by {{user.name}}</p>
  <form>
    <textarea for="recipe-review"></textarea>
    <button>Leave a Comment</button>
    <button>Upvote this recipe</button>
  </form>
</div>

<!--will need js file src for the review button handler-->